.loading__page{
    animation: loading 5s ease-in-out;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    animation-delay: 0s;
    animation-fill-mode: both;
    .loader{
        background-color: rgba(78, 78, 78, 0.808);
        z-index: 1000;
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        height: 100%;

        div {
            position: absolute;
            top: 10rem;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            border: 10px solid transparent;
            border-top-color: $color-primary;
            animation: loader 1.5s linear infinite;
        }
    }
}
  