.header__menu{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15%;
}
.menu__title{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    i{
        font-size: 1.5rem;
        margin-right: 1rem;
        cursor: pointer;
        
    }
    h1{
        font-family: 'Shrikhand';
        margin: 0%;
        padding-left: 1rem;

    }
    .far{
        &:hover{
            color: transparent;
            opacity: 0;
        }
    }
    .fas{
        color: transparent;
        transition: ease-out all 400ms;
    }
    i:hover{
        transform: scale(1.3);
        background-image: $button-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
    }
    .back{
        width: 50%;
    }
}
    .img__restaurant{
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -10;
    position: relative;
}
main{
    background-color: $reservation-background;
    border-radius: 20px 20px 0 0;
    margin-top: -20px;
    z-index: 10;
    position: relative;
}
.menu__choice{
    h2{
        color: gray;
        margin: 2rem 0 2rem 1rem;
        padding: 0%;
        font-size: 1rem;
        position: relative;
        
        #menu__bar--1::before{
            content: "";
            position: absolute;
            bottom: -0.5rem;
            height: 0.2rem;
            width: 2.5rem;
            left: 0rem;
            background-color: $color-tertiary;
        }
        #menu__bar--2::before{
            content: "";
            position: absolute;
            bottom: -0.5rem;
            height: 0.2rem;
            width: 2.5rem;
            left: 0rem;
            background-color: $color-tertiary;
        }
        #menu__bar--3::before{
            content: "";
            position: absolute;
            bottom: -0.5rem;
            height: 0.2rem;
            width: 2.5rem;
            left: 0rem;
            background-color: $color-tertiary;
        }
    }
}
.principal .section__menu{
    .carte__bouton1{
        animation: slide-from-bottom 2s ease both;
    }
    .carte__bouton2{
        animation: slide-from-bottom 2s ease both;
        animation-delay: 0.4s;
    }
    .carte__bouton3{
        animation: slide-from-bottom 2s ease both;
        animation-delay: 0.8s;
    }
    .carte__bouton4{
        animation: slide-from-bottom 2s ease both;
        animation-delay: 1s;
    }
}
.principal1 .section__menu{
    .carte__bouton4{
        animation: slide-from-bottom 2s ease both;
    }
    .carte__bouton5{
        animation: slide-from-bottom 2s ease both;
        animation-delay: 0.4s;
    }
    .carte__bouton6{
        animation: slide-from-bottom 2s ease both;
        animation-delay: 0.8s;
    }
    .carte__bouton7{
        animation: slide-from-bottom 2s ease both;
    }
    .carte__bouton8{
        animation: slide-from-bottom 2s ease both;
        animation-delay: 0.4s;
    }
    .carte__bouton9{
        animation: slide-from-bottom 2s ease both;
        animation-delay: 0.8s;
    }
}
@keyframes slide-from-bottom{
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}      
@media screen and (min-width: $breakpoint){
  main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu__title{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
   
  }
}