.menu__title{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    i{
        font-size: 1.5rem;
        margin-right: 1rem;
        cursor: pointer;
        @media (min-width: $breakpoint){
            margin-right: 8%;
        }
    }
    h1{
        font-family: 'Shrikhand';
        margin: 0%;
        padding-left: 1rem;
        @media (min-width: $breakpoint){
            margin-left: 8%;
            padding: 0%;
        }
    }
    .far{
        &:hover{
            color: transparent;
            opacity: 0;
        }
    }
    .fas{
        color: transparent;
        transition: ease-out all 400ms;
    }
    i:hover{
        transform: scale(1.3);
        background-image: $button-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
    }
}

    .img__restaurant{
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -10;
    position: relative;
}
main{
    background-color: $reservation-background;
    border-radius: 20px 20px 0 0;
    margin-top: -20px;
    z-index: 10;
    position: relative;
}