.menu__title{
    position: absolute;
    width: 100%;
    bottom: 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 1rem 1rem 0rem 0rem;
    i{
        position: absolute;
        font-size: 1.5rem;
        right: 1rem;
        top: 1.4rem;
        margin-right: 1rem;
        cursor: pointer;
        @media (min-width: $breakpoint){
            margin-right: 8%;
        }
    }
    h1{
        font-family: 'Shrikhand';
        margin: 0%;
        padding-left: 1rem;
        @media (min-width: $breakpoint){
            margin-left: 8%;
            padding: 0%;
        }
    }.far{
        &:hover{
            color: transparent;
            opacity: 0;
        }
    }
    .fas{
        color: transparent;
        transition: ease-out all 400ms;
    }
    i:hover{
        transform: scale(1.3);
        background-image: $button-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
    }
}

    
