.restaurant__cards{
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
    .card__badge{
        width: 100%;
        position: relative;
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .new{
            background-color: $color-tertiary;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}