@use "../Utils/variables";
@use "../Utils/mixins";


.restaurant__cards{
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
    justify-content: center;
    
    .card__badge{
        width: 90%;
        margin: 0 auto 20px auto;
        position: relative;
        box-shadow: 5px 5px 13px 0 grey;
        border-radius: 10px;
        
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
        .new{
            background-color: $color-tertiary;
            position: absolute;
            top: 10px;
            right: 10px;
            color: $color-dark-tertiary;
            padding: 10px 15px;
        }
        .card__description{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2.5% 5%;
        }
    }
}
.principal{
    @media (min-width: 800px){
        display: grid;
        grid-template-columns: repeat(1,1fr);
        max-width: 100%;
        margin: 0%;
        gap: 0.5rem;
        .principal1{
            @media (min-width: 800px){
                display: flex;
                flex-direction: column;
                width: auto;
            }
        }
    }
}

.section__menu{
    width: 100%;
}
.carte__bouton{
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0rem 1rem 1rem 1rem;
    background-color: $reservation-background;
    box-shadow: 2px 2px 11px 0px #0000004f;
    cursor: pointer;
    border-radius: 1rem;
    @media (min-width: variables.$breakpoint){
        margin-left: 8%;
        margin-right: 8%;
    }
    &:hover{
        .carte__checkIcon , .carte__prix{
            margin-right: 0;
            transition: all 1s;
            }
            i{
                animation: checkrotate 800ms;
                color: white;
            }
        }
    }
    .carte__body{
        display:flex;
        flex-direction: column;
        width:100%;
        padding: 0.75rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.9rem;
        @media (max-width: 345px){
            font-size: 0.7rem;
        }
        h3,p{
        display: inline-block;
        max-width: calc(80%);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        }
        .carte__titre{
            h3{
                margin: 0rem 0rem 0.5rem 0rem;
                font-weight: 600;
            }
        }
        .carte__description{
            display: flex;
            flex-direction: row;
            max-width: calc(100%);
            justify-content: space-between;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            .carte__prix{
                font-weight: 600;
            }
        }
    }
    .carte__checkIcon{
        background-color: $color-tertiary;
        $button-width: 5rem;
        width: $button-width;
        display: flex;
        margin-right: -5rem;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width:576px){
        .restaurant__cards{
            .card__badge{
                width: 48%;
            }
        }
        .header__logomenu{
            margin-right: 90px;
        }
    }

    @media screen and (min-width:992px){
        .restaurant__cards{
            width: 85%;
            margin: 0 auto;
        }
        .header__logomenu{
            margin-right: 180px;
        }
        .header__menu{
            margin-right: 20%;
        }
        .menu__title{
            margin-left: 30%;
        }
    }