.restaurant__title{
    margin-left: 5%;
}
@media screen and (min-width:992px){
    .restaurant__title{
        width: 60%;
        margin: 0 auto 20px auto;
        font-size: 1.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}