$color-primary:#9356dc;
$color-secondary:#ff79da;
$color-tertiary:#99e2d0;
$color-dark-tertiary:#476d63;
$color-quaternary: #959595;
$background-footer: #353535;
$reservation-background: #f6f6f6;
$button-gradient: linear-gradient(163deg, rgba(238,115,218,1) 0%, rgba(160,91,220,1) 100%);
$breakpoint: 767px;